body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#sentimentImage {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}
